{% extends 'base.html' %}


{% block css %}

.userImage
{
width:200px;
height:200px;
border-radius:50%;
}

.info
{
padding-top:2%;
padding-left:3%;
}

.postappro{
    width:350px;
    height:200px;
    margin-bottom:15px;
}

hr
{
border-top: 2px solid #000000;
}
#follow
{
    color:blue;
}
#follow:hover
{
    color:white;
}
{% endblock css %}


{% block body %}

<div class="container my-4">
    <div class="media">
        <img src="{{userImg.url}}" class="align-self-start mr-3 userImage" alt="...">
        <div class="media-body info">
            <h4 class="mt-0">{{user_obj.username}}
                {% if connection and not request.user == user_obj %}
                <a type="button" class="btn btn-outline-primary" id="follow" role="button" href="{% url 'userpage:follow' user_obj.username %}" >Unfollow</a>
                {% elif not connection and not request.user == user_obj %}
                <a type="button" class="btn btn-outline-primary" id="follow" role="button" href="{% url 'userpage:follow' user_obj.username %}" >follow</a>
                {% endif %}
            </h4>
            <p>Follower : {{follower}} Following : {{following}}</p>
            <p><b>{{bio}}</b></p>
        </div>
    </div>

    <hr>

    <div class = "row">
        {% for i in posts %}
            {% for j in i %}
            <div class = "col-md-4">
                <img src="{{j.image.url}}" alt="Image" class='postappro'>
            </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock body %}

{% block js%}
<script type="text/javascript">
    $("#follow").click(function(e){
        e.preventDefault();
        var href =  this.href;
        $.ajax({
            url : href,
            success : function(response){
                if(response["following"]){
                    $("#follow").html("Unfollow");
                }
                else{
                    $("#follow").html("Follow");
                }
            }
        })
    })
</script>
{% endblock js%}